.env.example
*.pyc
__pycache__/
.venv/
venv/
.redis-src/
data/*.sqlite
reboot.json
start.bat
start.sh

commands/admin/dbadmin.py
commands/info/wrldai_context.py
commands/info/wrldai.py
commands/songs/tagger.py
data/juiceinfo.json
deploy.ps1